 {{#if showHere}}
  <div class="engagement-pathway-wrapper">
    <div class="wrap engagement-pathway-banner">
      <div class="ep-wrapper">
        {{#if endlevel}}
          <div class="ep-info">
            <b>{{i18n "engagement_pathway.endlevel_message"}}</b>
            {{#each info as |i|}}
              <div class="infoline">
              {{{i.html}}}
              </div>
            {{/each}}
            {{#if showEmoji}}
              <img src="{{emojiSrc}}" width="20" height="20">
              <img src="{{emojiSrc}}" width="20" height="20">
              <img src="{{emojiSrc}}" width="20" height="20">
            {{/if}}
          </div>
          <div class="ep-links">
            <div class="ep-links-header">{{{linksHeader}}}</div>
            {{#each links as |link|}}
              <div>
              {{{link.html}}}
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="ep-content">
            {{{message}}}
          </div>
          <div class="ep-level-task">
            {{#each tasks as |t|}}
              <div class="task">
                <a href="{{t.url}}">
                  <h3 class={{t.status}}>
                    {{d-icon t.icon}}
                    {{t.text}}
                  </h3>
                </a>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}